.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: rgb(209, 248, 239);
}

@media screen and (max-width: 50em) {
    .navbar {
    flex-direction: column;
    gap: 2rem;
    }
    
}

.header-navigation-list {
    display: flex;
    gap: 4rem;
}

@media screen and (max-width: 56.25em) {
    .header-navigation-list {
        gap: 2rem;
    }
}

.header-navigation-list li a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
    color: black;
}

.header-navigation-list li a.active {
    
    color: rgb(253, 155, 51);
}

.header-cta-btn {
    padding: 1rem 2rem;
    background-color: rgb(54, 116, 181);
    color: white;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: capitalize;
}