:root {
  --color-primary:rgb(54, 116, 181);
  --color-sub-primary:rgb(87, 143, 202);
  --color-sky-blue:rgb(161, 227, 249);
  --color-mint:rgb(209, 248, 239);
  --color-teal:rgb(124, 245, 255);
  --color-white:rgb(247, 247, 247);
  --color-black:rgb(0, 0, 0);
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
font-size: 1.6rem;
color: var(--color-black);
font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;

}

ul, ol {
  list-style: none;
}
